html,body
{
    margin: 0;
    padding: 0;
    overflow:hidden;  /* 스크롤바 제거 */
    width: 100%;       /* 최대 너비 설정 */
    height: 100%;      /* 최대 높이 설정 */
}

body
{
    margin: 0px;
    padding: 0px;
    /*background: #E10A04 url('images/backgroundx.png') repeat-x;*/
    font-family: Arial;
    color: #FFAEAE;
    font-size: 12px;
}

body,table,tr,td,div
{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

b
{
    color: #FFFFFF;
    font-weight: bold;
}

#Wrapper
{
    /*background: url('images/background.png') no-repeat top center;*/
    min-height: 720px;
}



#Main,#Content,#Footer
{
    width: 100%;
    margin: 0 auto;
}

#PageTitle
{
    font-family: Segoe UI, Arial;
    font-weight: normal;
    color: #FFFFFF;
    font-size: 33px;
}

a
{
    color: #FFAEAE;
    text-decoration: none;
}

a:hover
{
    color: #FFFFFF;
    text-decoration: none;
}

#Content
{
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
}

#Column1
{
    width: 300px;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
}

#sudokuBoard
{
    width: 318px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    box-shadow: 0px 0px 30px #000000;
    -moz-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.51);
    -webkit-box-shadow: 0 0 30px #000000;
}

#Column2
{
    width: 174px;
    margin-left: 40px;}

#Footer
{
    margin-top: 600px;
    color: #910502;
}

#FooterDetails
{
    font-size: 11px;
}

#Copyright
{
    font-size: 10px;
}

td.boardCellGroupA,td.boardCellGroupB
{
    background-color: #000000;
}

td.boardCellGroupA td.boardCell
{
    width: 32px;
    height: 32px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

td.boardCellGroupB td.boardCell
{
    width: 32px;
    height: 32px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
}

.staticValue
{
    font-family: Segoe UI, Arial;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
    color: #000000;
    position: relative;
}

.staticValue,.editValue
{
    width: 32px;
    height: 32px;
    padding: 0px;
    margin: 0px;
    border: 1px solid #000000;
}

.editValue:hover
{
    background: #000000;
}

label
{
    position: relative;
    top: 3px;
    line-height: 20px;
    font-size: 12px;
    color: #000000;
    margin-left: 20px;
}

select
{
    font-family: Arial;
    color: #000000;
    font-weight: normal;
    font-size: 12px;
    border-top: solid 1px #CCCCCC;
    border-left: solid 1px #E2E3EA;
    border-bottom: solid 1px #FFFFFF;
    border-right: solid 1px #E2E3EA;
    margin: 3px 0px;
    min-width: 100px;
    background: #FDFDFD;
}

#timeFinished
{
    font-family: Segoe UI, Arial;
    font-size: 46px;
    font-weight: bold;
    line-height: 40px;
}

.finishedLabel,#timeFinished
{
    color: #FBF2A8;
}

.editValue input
{
    font-family: Segoe UI, Arial;
    font-size: 25px;
    color: #f10a0a;
    width: 32px;
    height: 32px;
    padding: 0px;
    border: 0px;
    background: none !important;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

input[type="submit"]
{
    font-family: Arial;
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    border: 0px;
    min-width: 162px;
    min-height: 34px;
    background: url('images/submitBackground.png') repeat-x;
    margin: 8px 0px;
    cursor: pointer;
}

input[type="submit"].gameControls
{
    font-family: Arial;
    font-size: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    border: 0px;
    min-width: 28px;
    min-height: 28px;
    background: url('images/submitSmallBackground.png') repeat-x;
    margin: 8px 0px;
    padding: 2px 16px;
    cursor: pointer;
}

.gameControlSet
{
    height: 60px;
    position: relative;
    display: flex;        /* Flexbox 모델을 사용하여 자식 요소들을 행으로 배치 */
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
}

#buttonSolve
{
    margin-top: 119px;
    color: #f10a0a;
}

#youWon
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    background: url('images/shade.png') repeat;
}

#youWon div
{
    width: 400px;
    background: #940302;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    padding: 40px;
    margin: 100px auto 0px auto;
}

small
{
    font-size: 14px;
    color: #FFFD7B;
}

.noErrors
{
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-left: 20px;
}

.errorsFound
{
    font-size: 18px;
    font-weight: bold;
    color: #f10a0a;
    margin-left: 20px;
}

.error
{
    border: 1px solid #f10a0a;
}
